/* Global Styling: */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --border-color: #e3e5e4;
  --background-color: #c3c7ca;
  --text-color: #34444f;
  --buy-color: #4caf50; /* Green color for Buyer */
  --sell-color: #f44336; /* Red color for Seller */
}

/* Global Reset: */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

/* Left Sidebar Styling (Buyer) */
.left-sidebar {
  flex: 1;
  padding: 1px;
  width: 200px;
   height: auto;/* Adjust the height as needed */
  background-color: var(--buy-color); /* Green for Buyer */}

/* Right Sidebar Styling (Seller) */
.right-sidebar {
  flex: 10;
  padding: 1px;
  width: auto;
  height: auto;
  background-color: var(--sell-color); /* Red for Seller */
}

/* BidList Styling: */
.BidList {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  width: 250px; /*外框size*/
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Outer box for BidList items */
.BidList li {
  background-color: transparent; /* Transparent background for BidList items */
  height: 40px;
  display: flex;
  flex: 1;
  color: rgb(0, 0, 0); /* White text color for BidList items */
  align-items: center;
}

/* Adjust the margin between elements in BidList */
.stock-localTime,
.stock-price,
.stock-quantity {
  margin-right: 20px;
}

/* AskList Styling: */
.AskList {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  width: 250px; /*外框size*/
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Outer box for AskList items */
.AskList li {
  background-color: transparent; /* Transparent background for AskList items */
  height: 40px;
  display: flex;
  flex: 1;
  color: rgb(0, 0, 0); /* White text color for AskList items */
  align-items: center;
}

/* Adjust the margin between elements in AskList */
.stock-localTime,
.stock-price,
.stock-quantity {
  margin-right: 20px;
}

/* Check Button: */
.check-btn {
  background-color: var(--background-color);
  border: none;
  color: white; /* White text color for the button */
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition */
}

.check-btn:active {
  transform: scale(0.98);
}

.check-btn:focus {
  outline: none;
}

/* Change the button color on hover */
.check-btn:hover {
  background-color: var(--border-color);
}
