<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercise1</title>
  <style>
    h1 {
      text-align: center;
      font-weight: 400;
      font-size: 30px;
      color: #333;
    }
    div {
      font-size: 14px;
      color: #999;
    }
    p {
      text-indent: 2em;
      font-size: 18px;
      color: #333;
    }
    /* 類定義.XX{} ,div入面落class*/
    .pic {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>HEADING</h1>
  <div>Source  Date Time </div>
  <p><strong>Topic</strong> A </p>
  <p>Topic B</p>
  <div class="pic">
    <img scr="url" alt="">
  </div>
</body>
</html>