<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    h2 {
      text-align: center;
    }
    table {
      width: 700px;
      height: 90px;
      margin: 0 auto;
    }
    table,
    th,
    td{
      border: 1px solid #333;
      border-collapse: collapse;
      text-align: center;
    }
  </style>
</head>

<body>
  <h2> Title </h2>
  <script>
const total = prompt('input the total')
const waterBill = prompt('input the waterBill')
const eleBill = prompt('input the eleBill')
const networkBill = prompt('input the networkBill')
const money =total - waterBill - networkBill - eleBill

document.write(`<table>
  <tr>
      <th>total<th>
      <th>waterBill<th>
      <th>eleBill<th>
      <th>networkBill<th>
      <th>money<th>
</tr>
<tr>
      <th>${total}<th>
      <th>${waterBill}<th>
      <th>${eleBill}<th>
      <th>${networkBill}<th>
      <th>${money}<th>
</tr>
</table>`)

</script>
</body>

</html>